<div class="pure-g">
  <div class="sidebar pure-u-1 pure-u-sm-6-24">
    {{!link-to 'Všechny služby' 'categories.index' tagName="li" class="all"}}

    {{#each category in model}}
      {{#link-to 'categories.show' category}}
        {{category.name}}
      {{/link-to}}
    {{/each}}

  </div>

  <div class="map pure-u-1">
    {{google-map latitude="50.1015737" longitude="14.4468531" contacts=contacts}}
  </div>
</div>

<div>

  <div class="pure-g">
    {{outlet}}
  </div>

</div>
